@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Tilt+Warp&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  height: 55px;
  width: 100%;
  background: #000;
  position: fixed;
  top: 0;
  z-index: 10;
}

.header-left h1 {
  margin-top: 7px;
  color: white;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 55px;
  padding: 0 23px;
  color: #fff;
  font-size: 20px;
  display: block;
  float: left;
  transition: all 0.7s;
}

.header-right a:hover {
  transform: scale(1.1);
  color: #ff0000;
}

.menu-icon {
  float: right;
  display: none;
}

.menu-icon img {
  padding-top: 12px;
}

/* Awal Desain Logo */
.logo {
  position: relative;
}

.logo h1 {
  position: absolute;
  transition: 0.7s;
}

.logo h1:hover {
  transform: scale(1.1);
  color: red;
}

/****** MAIN SECTION ******/

.main-image {
  max-width: 100%;
  height: 740px;
  background-image: url("images/main.jpg");
  background-size: cover;
  border-bottom: 8px solid rgb(65, 64, 64);
}

.main-background {
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: inset 10px 50px 50px #000000, inset -10px -50px 50px #000000;
  height: 100%;
}

.main-content {
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: white;
  padding: 250px 60px 0 60px;
  margin: auto;
}

.main-content h1 {
  font-size: 52px;
  font-weight: 800;
}

.main-content h2 {
  font-size: 24px;
  margin: 16px 0 32px;
  font-weight: 400;
}
.main-content p {
  font-size: 24px;
  margin-bottom: 2rem;
}

/****** MAIN FORM SECTION ******/

.main-form {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.main-form div {
  width: 482px;
  height: 75px;
  position: relative;
}
.main-form input {
  width: 100%;
  height: 100%;
  padding-left: 12px;
  font-size: 20px;
}
.main-form input:focus {
  outline: 3px solid rgba(255, 255, 255, 0.5);
}

.main-form button {
  background-color: #e50914;
  color: white;
  font-size: 20px;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  width: 160px;

  transition: all 0.3s ease-out;
}

.main-form button:hover {
  background-color: #000000;
  border: 3px solid rgba(255, 255, 255, 0.5);
  transform: translate(0, -6px);
  cursor: pointer;
}

/****** BODY SECTION ******/

body {
  font-family: "Gentium Book Basic", serif;
  min-height: 100vh;
}

.event {
  height: 1100px;
  width: 100%;
  background-color: black;
  color: white;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.top-event {
  padding-top: 100px;
  height: 40px;
  border-bottom: 3px solid rgba(255, 255, 255, 0.8);
}

.top-event h3 {
  padding-top: 10px;
  padding-left: 10px;
}

.daftar-film {
  margin-top: 30px;
  height: 290px;
  border-bottom: 3px solid rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
}

.kotak-film {
  width: 15%;
  margin-right: 10px;
  margin-left: 10px;
}
.film {
  width: auto;
  height: 240px;
  color: black;
  background-color: white;
  border-radius: 5px;
  transition: 0.5s;
}

.film:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 7px 1px rgba(255, 255, 255, 0.5);
}

.film-gambar {
  width: 170px;
  height: 210px;
  box-sizing: border-box;
  border-radius: 5px;
}

.film-gambar img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}

.film p {
  margin-top: 5px;
  text-align: center;
}

.container-big {
  display: flex;
  padding-top: 50px;
  height: 300px;
  padding-bottom: 75px;
  border-bottom: 3px solid rgba(255, 255, 255, 0.8);
}

.big-text {
  width: 400px;
  height: 100px;
  margin: 50px 50px 0 50px;
}

.big-img {
  width: 400px;
  height: 300px;
  padding-left: 200px;
}

.big-img img {
  height: 200px;
  max-width: 100%;
}

.container-big2 {
  display: flex;
  padding: 50px 0 75px;
  height: 300px;

  border-bottom: 3px solid rgba(255, 255, 255, 0.8);
}

.big-img2 {
  width: 300px;
  height: 200px;
  margin-left: 50px;
  margin-top: 30px;
}

.big-img2 img {
  max-height: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.big-text2 {
  width: 600px;
  height: 150px;
  margin: 50px 50px 50px 100px;
}

/* Form */
.form {
  background-color: black;
  height: auto;
  padding: 60px;
}

.form-feedback {
  color: white;
  background-color: rgba(53, 51, 51, 0.61);
  box-shadow: 0 0 3px rgba(250, 250, 250, 0.9);
  border-radius: 6px;
  width: 400px;
  margin: auto;
  padding: 20px 5px;
  text-align: center;
}

.judul h1 {
  font-size: 35px;
  text-transform: capitalize;
}

.nama-mu {
  margin-top: 25px;
  width: 90%;
  padding: 5px 5px;
  color: white;
  border: 1px solid #5c5c5c;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 12px;
}

.nama-mu:focus {
  border: 1px solid white;
  transition: all 0.3s;
  padding-left: 10px;
}

.nama-mu:focus::placeholder {
  color: white;
}

.email-mu {
  margin-top: 15px;
  width: 90%;
  padding: 5px 5px;
  color: white;
  border: 1px solid #5c5c5c;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 12px;
}

.email-mu:focus {
  border: 1px solid white;
  transition: all 0.3s;
  padding-left: 10px;
}

.email-mu:focus::placeholder {
  color: white;
}

.pesan-mu {
  margin-top: 15px;
  width: 90%;
  padding: 5px 5px;
  height: 150px;
  color: white;
  border: 1px solid #5c5c5c;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 12px;
}

.pesan-mu:focus {
  border: 1px solid white;
  transition: all 0.3s;
  padding-left: 10px;
}

.pesan-mu:focus::placeholder {
  color: white;
}

.btn-mu {
  margin-top: 15px;
  width: 90%;
  background-color: black;
  color: white;
  font-size: 13px;
  font-weight: 600;
  padding: 5px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s;
  text-transform: uppercase;
}

.btn-mu:hover {
  background-color: white;
  color: black;
}

/* Footer */
footer {
  border-top: 3px solid #9e9e9e;
  background-color: black;
  padding-top: 40px;
  padding-bottom: 40px;
  color: white;
}

.createdBy {
  margin-right: 100px;
  float: right;
}

.createdBy p {
  /* margin-top: -7px; */
  margin: 10px, 0;
  font-size: 18px;
}

.bantuan {
  font-size: 20px;
  margin-left: 200px;
  float: left;
}

.bantuan a {
  color: white;
  text-decoration: underline;
}

.bantuan a:hover {
  color: red;
}

.supportedBy {
  color: black;
  background-color: #9e9e9e;
  font-size: 20px;
  margin-top: 190px;
  text-align: center;
  padding: 10px 0;
}
.supportedBy a {
  font-size: 20px;
  color: black;
  text-decoration: underline;
}

.supportedBy p:hover {
  background-color: rgb(67, 67, 67);
  color: white;
}

.supportedBy a:hover {
  color: rgb(52, 108, 228);
}
